--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2 (Debian 15.2-1.pgdg110+1)
-- Dumped by pg_dump version 15.2 (Debian 15.2-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_event; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_event (
    id bigint NOT NULL,
    date_time timestamp with time zone NOT NULL,
    creator_id bigint NOT NULL,
    game_id bigint NOT NULL
);


ALTER TABLE public.api_event OWNER TO "play-with-me";

--
-- Name: api_event_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_event ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_event_participants; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_event_participants (
    id bigint NOT NULL,
    modelator boolean NOT NULL,
    admin boolean NOT NULL,
    event_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_event_participants OWNER TO "play-with-me";

--
-- Name: api_event_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_event_participants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_event_participants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_friendship; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_friendship (
    id bigint NOT NULL,
    create_date date NOT NULL,
    user1_id bigint NOT NULL,
    user2_id bigint NOT NULL
);


ALTER TABLE public.api_friendship OWNER TO "play-with-me";

--
-- Name: api_friendship_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_friendship ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_friendship_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_game; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_game (
    id bigint NOT NULL,
    name character varying(40) NOT NULL,
    release_date integer NOT NULL,
    description character varying(1024),
    publisher character varying(50),
    max_player integer NOT NULL,
    online boolean NOT NULL
);


ALTER TABLE public.api_game OWNER TO "play-with-me";

--
-- Name: api_game_available_lang; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_game_available_lang (
    id bigint NOT NULL,
    game_id bigint NOT NULL,
    language_id bigint NOT NULL
);


ALTER TABLE public.api_game_available_lang OWNER TO "play-with-me";

--
-- Name: api_game_available_lang_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_game_available_lang ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_game_available_lang_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_game_genre; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_game_genre (
    id bigint NOT NULL,
    game_id bigint NOT NULL,
    genre_id bigint NOT NULL
);


ALTER TABLE public.api_game_genre OWNER TO "play-with-me";

--
-- Name: api_game_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_game_genre ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_game_genre_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_game_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_game ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_game_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_genre; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_genre (
    id bigint NOT NULL,
    name character varying(40) NOT NULL,
    description character varying(250)
);


ALTER TABLE public.api_genre OWNER TO "play-with-me";

--
-- Name: api_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_genre ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_genre_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_language; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_language (
    id bigint NOT NULL,
    crosscut character varying(30) NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.api_language OWNER TO "play-with-me";

--
-- Name: api_language_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_language ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_language_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_opinion; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_opinion (
    id bigint NOT NULL,
    comment character varying(1024) NOT NULL,
    star numeric(2,1) NOT NULL,
    game_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_opinion OWNER TO "play-with-me";

--
-- Name: api_opinion_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_opinion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_opinion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254),
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    description character varying(1024) NOT NULL
);


ALTER TABLE public.api_user OWNER TO "play-with-me";

--
-- Name: api_user_groups; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.api_user_groups OWNER TO "play-with-me";

--
-- Name: api_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_lang; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_user_lang (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    language_id bigint NOT NULL
);


ALTER TABLE public.api_user_lang OWNER TO "play-with-me";

--
-- Name: api_user_lang_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_user_lang ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_lang_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_user_permissions; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.api_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.api_user_user_permissions OWNER TO "play-with-me";

--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.api_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "play-with-me";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "play-with-me";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "play-with-me";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO "play-with-me";

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "play-with-me";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "play-with-me";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "play-with-me";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: play-with-me
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: play-with-me
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "play-with-me";

--
-- Data for Name: api_event; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_event (id, date_time, creator_id, game_id) FROM stdin;
\.


--
-- Data for Name: api_event_participants; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_event_participants (id, modelator, admin, event_id, user_id) FROM stdin;
\.


--
-- Data for Name: api_friendship; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_friendship (id, create_date, user1_id, user2_id) FROM stdin;
\.


--
-- Data for Name: api_game; Type: TABLE DATA; Schema: public; Owner: play-with-me
--



--
-- Data for Name: api_game_available_lang; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_game_available_lang (id, game_id, language_id) FROM stdin;
\.


--
-- Data for Name: api_game_genre; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_game_genre (id, game_id, genre_id) FROM stdin;
\.


--
-- Data for Name: api_genre; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_genre (id, name, description) FROM stdin;
2	Driving	\N
3	Role-Playing (RPG)	\N
4	Racing	\N
5	Action	\N
6	Adventure	\N
7	Educational	\N
8	Sports	\N
9	Strategy	\N
10	Simulation	\N
\.


--
-- Data for Name: api_language; Type: TABLE DATA; Schema: public; Owner: play-with-me
--



--
-- Data for Name: api_opinion; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_opinion (id, comment, star, game_id, user_id) FROM stdin;
\.


--
-- Data for Name: api_user; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, description) FROM stdin;
1	pbkdf2_sha256$600000$lIfFTKZWvUSMfFB4eCDKfB$60o+bLfqQdfpuVqzkgBHySgiqVE1RuqTVCEu3dv6PyA=	2023-05-24 18:20:26.730087+00	t	user	user	user	user@example.com	t	t	2023-05-04 08:39:33.240936+00	dupa dupa dupa
\.


--
-- Data for Name: api_user_groups; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: api_user_lang; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_user_lang (id, user_id, language_id) FROM stdin;
\.


--
-- Data for Name: api_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.api_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: play-with-me
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
7b1dd5c81348356bf47740cb7eebd43552bb1577	2023-05-04 08:41:29.1225+00	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2023-05-04 08:41:29.126+00	1	7b1dd5c81348356bf47740cb7eebd43552bb1577	1	[{"added": {}}]	7	1
2	2023-05-04 08:41:41.023789+00	1	7b1dd5c81348356bf47740cb7eebd43552bb1577	2	[]	7	1
3	2023-05-04 08:41:42.865636+00	1	7b1dd5c81348356bf47740cb7eebd43552bb1577	2	[]	7	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: play-with-me
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	authtoken	token
7	authtoken	tokenproxy
8	api	user
9	api	event
10	api	game
11	api	genre
12	api	language
13	api	opinion
14	api	friendship
15	api	event_participants
16	api	country
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: play-with-me
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: play-with-me
--



--
-- Name: api_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_event_id_seq', 1, false);


--
-- Name: api_event_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_event_participants_id_seq', 1, false);


--
-- Name: api_friendship_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_friendship_id_seq', 1, false);


--
-- Name: api_game_available_lang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_game_available_lang_id_seq', 1, false);


--
-- Name: api_game_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_game_genre_id_seq', 1, false);


--
-- Name: api_game_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_game_id_seq', 1212, true);


--
-- Name: api_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_genre_id_seq', 10, true);


--
-- Name: api_language_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_language_id_seq', 183, true);


--
-- Name: api_opinion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_opinion_id_seq', 1, false);


--
-- Name: api_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_user_groups_id_seq', 1, false);


--
-- Name: api_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_user_id_seq', 1, true);


--
-- Name: api_user_lang_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_user_lang_id_seq', 1, false);


--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.api_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 3, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: play-with-me
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 27, true);


--
-- Name: api_event_participants api_event_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_event_participants
    ADD CONSTRAINT api_event_participants_pkey PRIMARY KEY (id);


--
-- Name: api_event api_event_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_event
    ADD CONSTRAINT api_event_pkey PRIMARY KEY (id);


--
-- Name: api_friendship api_friendship_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_friendship
    ADD CONSTRAINT api_friendship_pkey PRIMARY KEY (id);


--
-- Name: api_game_available_lang api_game_available_lang_game_id_language_id_6085b340_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_available_lang
    ADD CONSTRAINT api_game_available_lang_game_id_language_id_6085b340_uniq UNIQUE (game_id, language_id);


--
-- Name: api_game_available_lang api_game_available_lang_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_available_lang
    ADD CONSTRAINT api_game_available_lang_pkey PRIMARY KEY (id);


--
-- Name: api_game_genre api_game_genre_game_id_genre_id_bc1fdd9a_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_genre
    ADD CONSTRAINT api_game_genre_game_id_genre_id_bc1fdd9a_uniq UNIQUE (game_id, genre_id);


--
-- Name: api_game_genre api_game_genre_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_genre
    ADD CONSTRAINT api_game_genre_pkey PRIMARY KEY (id);


--
-- Name: api_game api_game_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game
    ADD CONSTRAINT api_game_pkey PRIMARY KEY (id);


--
-- Name: api_genre api_genre_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_genre
    ADD CONSTRAINT api_genre_pkey PRIMARY KEY (id);


--
-- Name: api_language api_language_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_language
    ADD CONSTRAINT api_language_pkey PRIMARY KEY (id);


--
-- Name: api_opinion api_opinion_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_opinion
    ADD CONSTRAINT api_opinion_pkey PRIMARY KEY (id);


--
-- Name: api_user api_user_email_9ef5afa6_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_email_9ef5afa6_uniq UNIQUE (email);


--
-- Name: api_user_groups api_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_pkey PRIMARY KEY (id);


--
-- Name: api_user_groups api_user_groups_user_id_group_id_9c7ddfb5_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_group_id_9c7ddfb5_uniq UNIQUE (user_id, group_id);


--
-- Name: api_user_lang api_user_lang_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_lang
    ADD CONSTRAINT api_user_lang_pkey PRIMARY KEY (id);


--
-- Name: api_user_lang api_user_lang_user_id_language_id_e9203071_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_lang
    ADD CONSTRAINT api_user_lang_user_id_language_id_e9203071_uniq UNIQUE (user_id, language_id);


--
-- Name: api_user api_user_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_permission_id_a06dd704_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_permission_id_a06dd704_uniq UNIQUE (user_id, permission_id);


--
-- Name: api_user api_user_username_key; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: api_event_creator_id_ff306158; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_event_creator_id_ff306158 ON public.api_event USING btree (creator_id);


--
-- Name: api_event_game_id_d605caef; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_event_game_id_d605caef ON public.api_event USING btree (game_id);


--
-- Name: api_event_participants_event_id_18c09446; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_event_participants_event_id_18c09446 ON public.api_event_participants USING btree (event_id);


--
-- Name: api_event_participants_user_id_32264e33; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_event_participants_user_id_32264e33 ON public.api_event_participants USING btree (user_id);


--
-- Name: api_friendship_user1_id_18bfe1f6; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_friendship_user1_id_18bfe1f6 ON public.api_friendship USING btree (user1_id);


--
-- Name: api_friendship_user2_id_2de6c17e; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_friendship_user2_id_2de6c17e ON public.api_friendship USING btree (user2_id);


--
-- Name: api_game_available_lang_game_id_cbb8b7e3; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_game_available_lang_game_id_cbb8b7e3 ON public.api_game_available_lang USING btree (game_id);


--
-- Name: api_game_available_lang_language_id_05d5e7c5; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_game_available_lang_language_id_05d5e7c5 ON public.api_game_available_lang USING btree (language_id);


--
-- Name: api_game_genre_game_id_93eba106; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_game_genre_game_id_93eba106 ON public.api_game_genre USING btree (game_id);


--
-- Name: api_game_genre_genre_id_f0dc1077; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_game_genre_genre_id_f0dc1077 ON public.api_game_genre USING btree (genre_id);


--
-- Name: api_opinion_game_id_6527370f; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_opinion_game_id_6527370f ON public.api_opinion USING btree (game_id);


--
-- Name: api_opinion_user_id_403f38b5; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_opinion_user_id_403f38b5 ON public.api_opinion USING btree (user_id);


--
-- Name: api_user_email_9ef5afa6_like; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_email_9ef5afa6_like ON public.api_user USING btree (email varchar_pattern_ops);


--
-- Name: api_user_groups_group_id_3af85785; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_groups_group_id_3af85785 ON public.api_user_groups USING btree (group_id);


--
-- Name: api_user_groups_user_id_a5ff39fa; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_groups_user_id_a5ff39fa ON public.api_user_groups USING btree (user_id);


--
-- Name: api_user_lang_language_id_c52d9658; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_lang_language_id_c52d9658 ON public.api_user_lang USING btree (language_id);


--
-- Name: api_user_lang_user_id_89051700; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_lang_user_id_89051700 ON public.api_user_lang USING btree (user_id);


--
-- Name: api_user_user_permissions_permission_id_305b7fea; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_user_permissions_permission_id_305b7fea ON public.api_user_user_permissions USING btree (permission_id);


--
-- Name: api_user_user_permissions_user_id_f3945d65; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_user_permissions_user_id_f3945d65 ON public.api_user_user_permissions USING btree (user_id);


--
-- Name: api_user_username_cf4e88d2_like; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX api_user_username_cf4e88d2_like ON public.api_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: play-with-me
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: api_event api_event_creator_id_ff306158_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_event
    ADD CONSTRAINT api_event_creator_id_ff306158_fk_api_user_id FOREIGN KEY (creator_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_event api_event_game_id_d605caef_fk_api_game_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_event
    ADD CONSTRAINT api_event_game_id_d605caef_fk_api_game_id FOREIGN KEY (game_id) REFERENCES public.api_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_event_participants api_event_participants_event_id_18c09446_fk_api_event_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_event_participants
    ADD CONSTRAINT api_event_participants_event_id_18c09446_fk_api_event_id FOREIGN KEY (event_id) REFERENCES public.api_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_event_participants api_event_participants_user_id_32264e33_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_event_participants
    ADD CONSTRAINT api_event_participants_user_id_32264e33_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_friendship api_friendship_user1_id_18bfe1f6_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_friendship
    ADD CONSTRAINT api_friendship_user1_id_18bfe1f6_fk_api_user_id FOREIGN KEY (user1_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_friendship api_friendship_user2_id_2de6c17e_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_friendship
    ADD CONSTRAINT api_friendship_user2_id_2de6c17e_fk_api_user_id FOREIGN KEY (user2_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_game_available_lang api_game_available_lang_game_id_cbb8b7e3_fk_api_game_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_available_lang
    ADD CONSTRAINT api_game_available_lang_game_id_cbb8b7e3_fk_api_game_id FOREIGN KEY (game_id) REFERENCES public.api_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_game_available_lang api_game_available_lang_language_id_05d5e7c5_fk_api_language_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_available_lang
    ADD CONSTRAINT api_game_available_lang_language_id_05d5e7c5_fk_api_language_id FOREIGN KEY (language_id) REFERENCES public.api_language(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_game_genre api_game_genre_game_id_93eba106_fk_api_game_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_genre
    ADD CONSTRAINT api_game_genre_game_id_93eba106_fk_api_game_id FOREIGN KEY (game_id) REFERENCES public.api_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_game_genre api_game_genre_genre_id_f0dc1077_fk_api_genre_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_game_genre
    ADD CONSTRAINT api_game_genre_genre_id_f0dc1077_fk_api_genre_id FOREIGN KEY (genre_id) REFERENCES public.api_genre(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_opinion api_opinion_game_id_6527370f_fk_api_game_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_opinion
    ADD CONSTRAINT api_opinion_game_id_6527370f_fk_api_game_id FOREIGN KEY (game_id) REFERENCES public.api_game(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_opinion api_opinion_user_id_403f38b5_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_opinion
    ADD CONSTRAINT api_opinion_user_id_403f38b5_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_group_id_3af85785_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_group_id_3af85785_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_user_id_a5ff39fa_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_a5ff39fa_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_lang api_user_lang_language_id_c52d9658_fk_api_language_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_lang
    ADD CONSTRAINT api_user_lang_language_id_c52d9658_fk_api_language_id FOREIGN KEY (language_id) REFERENCES public.api_language(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_lang api_user_lang_user_id_89051700_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_lang
    ADD CONSTRAINT api_user_lang_user_id_89051700_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permis_permission_id_305b7fea_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permis_permission_id_305b7fea_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_f3945d65_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_f3945d65_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: play-with-me
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--
